body{
    background-image: url(body.png)
    
}

.banner{
    background-image: url(background.png);
    height: 900px;
    width: 100%;
    position: absolute;
    font-family: ubuntu;
}
#icon{
    font-size: 25px;
    margin-top: -4px;
    color:white;
    
}
#icon:hover{
    font-size: 35px;
    color:#a5b1c2;
    height: 40px;
    width: 40px;
  
}
.me{
    height: 350px;
    border-radius: 50%;
}
.box{
    width: 500px;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: white;
    font-family: ;
    padding-bottom: 0px;
    font-family: ubuntu;
  
}
.box ul{
    list-style-type: none;
    height: 60px;
    line-height: 40px;
    padding: 0px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
    
}
.box ul li{
    float: left;
    width: 80px;
   
}
.box ul li a {
    height: 50px;
    text-decoration: none;
    padding: 10px 10px 0px 10px;
    display: block;
  
    
}
.into-line{
    position: relative;
    margin-top: 950px;
    margin-left: 50%;
    
}
.satrt{
    padding-top: 30px;
    width: 700px;
}
.about{
    position: relative;
    color: white;
    padding-top: 30px;
    
}

.Aspan{
    
    position: relative;
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    width: 100%;
    color: rgb(95, 63, 88);
    
}
.ab{
    color: rgb(37, 35, 126);
    font-size: 45px; 
    font-weight: bold;
    text-decoration: underline;
    margin-left: 32%;
    font-family: ubuntu;
    
}
.imgme2{
    align-items: center;
    margin-top: 5%;
    padding-top: 30px;
   
}
.me2{
    
    height: 500px;
    width: 300px;
    border-radius: 88px;
    position: relative;    
    margin-left: 1%;
    margin-top: 15%;
   
}
.info{
    font-size: 25px;
    margin-top: 3%;
    letter-spacing: 2.5px;
    opacity: 70%;
    box-shadow: 0px 0px 21px 4px;
    border-radius: 30px;
    padding: 20px;
    font-family: ubuntu;
}
.info:hover{
    opacity: 100%;
}
.skills{
    margin-top: 3%;
    padding: 15px;
    opacity: 70%;
    box-shadow: 0px 0px 21px 4px;
    border-radius: 30px;
    font-family: ubuntu;
}
#bar1{
    height: 50px;
    padding: 15px;
    border: black;
    font-family: ubuntu;
    opacity: 70%;
    font-size: 15px;
}
.skills:hover{
    opacity: 100%;
    
}
.im2{
    background-color:#192a56;
    margin-top: 20px;
    border-radius: 38px;
    height: 600px;
    
}
.down{
    margin-top: 85px;
    font-size: 25px;
    color: white;
    margin-left: 42%;
    font-family: ubuntu;
    
}
.resu{
    margin-top: 85px;
    font-size: 50px;
    color: white;
    margin-left: 45%;
    font-family: ubuntu;
}
.imgme2-2{
    position: relative;
    margin-left:36%;
    border-radius: 30px;
    margin-top:-14.5%;
   
}
.me2-2{
    height: 500px;
    width: 400px;
    border-radius: 88px;
    position: absolute;    
    margin-left: 1%;
    margin-top: -5%;
    box-shadow: 0px 0px 19px 3px;
    padding: 5px;

}
.tran-1-line{
    margin-left: 50%;
    width: 2px;
    height: 130px;
    
}
.tran-2-line{
    margin-top: 12%;
    margin-left: 50%;
    height: 130px;
}
.pr{
    font-size: 45px; 
    font-weight: bold;
    text-decoration: underline;
    margin-top: 23%;
    margin-left: -5%;
    position: relative;
    font-family: ubuntu;
    
}
#projects{
    position: relative;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    color: rgb(95, 63, 88);
    margin-top: 50px;
    font-family: ubuntu;
}
.eclass{
    height: 250px;
    border-radius: 28px;
    width: 400px;
    margin-left: 5%;
    
}
.coming_soon{
    height: 250px;
    width: 400px;
    border-radius: 28px;
    margin-left: 8%;

}
.nav{
    position: fixed;
    background: black;
}