body{
    background-image: url(body.png);
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
}
#dropdown{
    display: none;
}

.banner{
    background-image: url(background.png);
    height: 900px;
    width: 100%;
    position: absolute;
    font-family: ubuntu;
}
#icon{
    font-size: 125%;
    margin-top: -4px;
    color:white;
    
}
#icon:hover{
    font-size: 135%;
    color:#a5b1c2;
    height: 40px;
    width: 40px;
  
}
.me{
    height: 350px;
    border-radius: 50%;
    text-align: center;
}
.box{
    width: 500px;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: white;
    padding-bottom: 0px;
}
.box ul{
    list-style-type: none;
    height: 60px;
    line-height: 40px;
    padding: 0px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
    
}
.box ul li{
    float: left;
    width: 80px;
   
}
.box ul li a {
    height: 50px;
    text-decoration: none;
    padding: 10px 10px 0px 10px;
    display: block;

}
.into-line{
    position: relative;
    margin-top: 950px;
    margin-left: 50%;
}
#start{
    
}
.aspan{
    font-size: 360%;
}
.ab{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.info{
    width: 45%;
    padding: 25px;
    border-radius: 20px;
    margin: 30px 10px;
    font-size: 165%;
    background-color: #ddaeddf8;
    float: left;
}
#skills{
    width: 45%;
    padding: 25px;
    border-radius: 20px;
    margin: 30px 10px;
    background-color: #ddaeddf8;
    float: right;
}
#bar1{
    margin: 18px;
    font-size: 103%;
}
.tran-1-line{
    margin-left: 50%;
}
#im{
    background-color:  #1d3557;
    color: white;
    font-size: 250%;
    text-align: center;
    border-radius: 30px;
    height: 500px;
    margin-top: 40px;
}
.imgme2-2{
    text-align: center;
}
.me2-2{
    width: 400px;
    border-radius: 30px;
    margin-top: -13%;
    box-shadow: 0px 0px 12px 3px;
}
.tran-2-line{
    margin-left: 50%;
    margin-top: 40px;
}
#pr{
    text-align: center;
}
.pr{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 30px;
    font-size: 320%;
}
#projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    padding: 30px;
}
#card-1{
    padding: 0px;
    margin-left: 7%;
}
#card-2{
    padding: 0px;
    margin-left: 7%;
}
#card-3{
    padding: 0px;
    margin-left: 7%;
}
.eclass{
    width: 400px;
    margin-top: 10%;
    margin-left: 9%;
    box-shadow: 0px 0px 12px 3px;
}
.coming_soon{
    width: 400px;
    margin-left: 10%;
    box-shadow: 0px 0px 12px 3px;
}
@media (min-width:578px) and (max-width:780){
    #projects{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
  
    }
    #card-1{
        padding: 0px;
    }
    #card-2{
        padding: 0px;
        
    }
    #card-3{
        padding: 0px;
        
    }
    .eclass{
        width: 200px;
        margin-top: 10%;
        margin-left: %;
        box-shadow: 0px 0px 12px 3px;
    }
    .coming_soon{
        width: 200px;
        margin-left: 10%;
        box-shadow: 0px 0px 12px 3px;
    }
}




@media (max-width:577px){
    #dropdown{
        display: block;
        
    }
    #drop{
        float: right;
        margin-top: 0%;
        color: white;
    }
   
    .banner{
    background-image: url(background.png);
    width: 100%;
    height: 100%;
    position: absolute;
    }
    .box{
        width: 92%;
        padding: 40px 0px;
        text-align: center;
        margin: 5%;
        color: white;
    }
    .me{
        height: 150px;
        border-radius: 50%;
    }
    #name{
        margin: 20px;
    }
    #main-line{
        font-size: 200%;
        margin-top: 20%;
    }
    .box ul li{
        float: left;
        width: 55px;
        margin-top: 10%;
       
    }
    .box ul li a {
        height: 50px;
        text-decoration: none;
        padding: 10px 10px 0px 10px;
        display: block;
    }

    #icon{
        font-size: 195%;
        margin-top: 24px;
        color:white;
        margin-left: 40px;
    }
    .into-line{
        position: relative;
        margin-top: 220%;
        height: 0px;
    }
    .aspan{
        font-size: 160%;
    }
    .ab{
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
    }
    .info{
        width: 96%;
        background-color: #ddaeddf8;
        padding: 25px;
        border-radius: 20px;
        margin: 30px 10px;
        font-size: 100%;
    }
    #skills{
        width: 96%;
        background-color: #ddaeddf8;
        padding: 25px;
        border-radius: 20px;
        margin: 10px;
    }
    #bar1{
        margin: 8px;
    }
    .tran-1-line{
     display: none;
    }
    #im{
        text-align: center;
        margin-top: 5%;
        background-color: #1d3557;
        height: 250px;
        color: white;
        border-radius: 10px;
        font-size: 100%;
    }
    .me2-2{
        width: 200px;
        margin-left: 6%;
        margin-top: -30%;
        border-radius: 30px;
    }
    .tran-2-line{
        display: none;
    }
    .pr{
        margin: 10% 37%;
        text-decoration: underline;
        font-weight: bold;
        font-size: 220%;
    }
    .project-card{
        text-align: center;
    }
    #projects{
       display: block;
    }
    .eclass{
        width: 95%;
        margin: 3%;
    }
    .coming_soon{
        width: 95%;
        margin: 3%;
    }
    
     
    
}
